@model Xyperico.Authentication.Web.Areas.Account.Models.LoginModel
@{
  ViewBag.Title = @Html.Encode(_.Account.Log_in);
}

<h1>@ViewBag.Title</h1>

@Html.Partial("_UsernamePasswordLogin")
@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

@section scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
